<div class="card" *ngIf="order">
    <div class="card-body">

        <div class="d-flex">
            <div>
                <h5 class="card-title">Order to {{order.address.address}}, {{order.address.city}} </h5>
                <label>At {{order.deliveryTimestamp  | date:'dd/MM/yyyy HH:mm'}}</label>
            </div>
            <img src="../../../assets/img/down.svg" id="show" (click)="showProducts()" *ngIf="!show" style="width: 20px; cursor: pointer; display: block; margin-left: auto;"/>
            <img src="../../../assets/img/up.svg"  id="not_show" (click)="showProducts()" *ngIf="show" style="width: 20px; cursor: pointer; display: block; margin-left: auto;"/>
        </div>

        <div class="col-lg-12" *ngIf="show">
            <hr>

            <span class="badge text-bg-secondary" *ngIf="order.status == 'QUEUED'">QUEUED</span> 
            <span class="badge text-bg-primary" *ngIf="order.status == 'COLLECTING'">COLLECTING</span>
            <span class="badge text-bg-warning" *ngIf="order.status == 'DELIVERING'">DELIVERING</span>
            <span class="badge text-bg-success" *ngIf="order.status == 'DELIVERED'">DELIVERED</span>
            <span class="badge text-bg-danger" *ngIf="order.status == 'CANCELLED'">CANCELLED</span>


            <!-- ------------------------TABELA DE PRODUTOS ------------------------ -->
            <!-- <div class="col-lg-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Description</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let p of products">
                        <td>{{p.product.name}}</td>
                        <td>{{p.product.description}}</td>
                        <td>{{p.amount}}</td>
                        <td>{{p.amount * p.product.price |number}}€</td>
                    </tr>
                    </tbody>
                </table>
            </div> 
            
            <div class="col-lg-12" >
                <span>This list is empty</span>
            </div> -->

            <div class="d-flex" style="margin-top:1em">
                <button class="btn btn-danger" *ngIf="order.status == 'QUEUED'" (click)="cancel()">Cancel</button>
                <button class="btn btn-primary" *ngIf="products.length != 0" style="display: block; margin-left: auto;" (click)="add2cart()">Add to cart</button>
            </div>
        </div>

    </div>
</div>