<app-navbar></app-navbar>

<div class="container" *ngIf="lists">

  <div class="d-flex" >
    <h4>Your lists</h4> 
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" style="display: block; margin-left: auto">Create list</button>
  </div>

  <div class="col-lg-12" >
    <div *ngFor="let l of all_lists"  class="col-lg-12" style="margin-top: 2em">
      <app-list [list]="l" (deletedList)="removeList($event)"></app-list>
    </div>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create your own product's list</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

            <div class="card-body">
                <div class="col-lg-8 form-outline">
                  <input class="form-control" id="list_name" placeholder="List's name" autocomplete="off"/>
                  <p *ngIf="error" class="validation-summary-errors text-danger">Please enter a name for your list!</p>
                </div>
            </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" #close data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="createList()">Create</button>
        </div>

      </div>
    </div>
  </div>