<app-navbar></app-navbar>


<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Create list</button>

<div class="container" *ngIf="lists">
    <h4>Your lists</h4> 
    
    <div *ngFor="let l of all_lists"  class="col-lg-3" >
      <div class="card">
        <div class="card-body">

          <h5 class="card-title">{{l.name}}</h5>

          <p class="card-text">LISTA DE PRODUTOS</p>

          <button class="btn btn-danger" (click)="delete(l.id)">Delete</button>
          <button class="btn btn-primary">Add to cart</button>

        </div>
      </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create your own product's list</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

            <div class="card-body">
                <div class="col-lg-8 form-outline">
                  <input class="form-control" id="list_name" placeholder="List's name"/>
                  <p *ngIf="error" class="validation-summary-errors text-danger">Please enter a name for your list!</p>
                </div>
            </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="createList()">Create</button>
        </div>

      </div>
    </div>
  </div>