<app-navbar></app-navbar>

<h4>categories</h4>
<div class="col-lg-9">
    <div class="row">
        <div *ngFor="let c of categories" class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/coviran.jpg" class="card-img-top" alt="Chocapic :)">
                <div class="card-body">
                  <a href="category/{{c.id}}" class="btn btn-primary">{{c.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
