<nav class="navbar navbar-dark bg-dark">
    <form class="container-fluid justify-content-start">
        <h2 style="color:white; font-weight: bold;">COVIRAN</h2>
        <a href="/">
            <button class="btn btn-outline-success me-2" type="button">Our products</button>
        </a>
      
        <a href="/cart">
            <button class="btn btn-outline-success me-2" type="button">Your cart</button>
        </a>

        <a href="/lists">
            <button class="btn btn-outline-success me-2" type="button">Your lists</button>
        </a>
    </form>
</nav>