
<nav class="navbar navbar-expand-lg bg-light"> <!--  fixed-top -->
    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            <img src="../../../assets/img/coviran.png" alt="" width="200" class="d-inline-block align-text-top">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/lists" *ngIf="checkIfLoggedIn()">Your Lists</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/orders" *ngIf="checkIfLoggedIn()">Your Orders</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/addresses" *ngIf="checkIfLoggedIn()">Your Addresses</a>
                </li>


            </ul>

            <button type="button" class="btn btn-outline-success" id="cart" routerLink="/cart" *ngIf="quantity != null"> Cart {{quantity |number}}€</button>
            <button type="button" class="btn btn-outline-success" id="cart" routerLink="/cart" *ngIf="quantity == null"> Cart </button>
            <button type="button" class="btn btn-outline-success" id="login" routerLink="/login" *ngIf="!checkIfLoggedIn()">Login/Register</button>
            <button type="button" class="btn btn-outline-success" id="logout" routerLink="/login" *ngIf="checkIfLoggedIn()" (click)="clear()" >Logout</button>
        </div>

    </div>
</nav>