<div class="card" style="width: 18rem;">

    <!-- <img src="../../../assets/img/chocavelho.jpg" class="card-img-top" alt="Chocapic :)"> -->

    <div class="card-body">
      <h5 class="card-title">{{p.name}}</h5>
      <p class="card-text">{{p.price}}€</p>
      <p class="text-muted">{{p.description}}</p>
      <!-- <a class="btn btn-primary">Add to cart</a> -->
      <div class="d-flex align-items-center mt-5">
        <input type="number" min="0" value="0" id="input_{{p.id}}" style="text-align:center; width: 5em; position: absolute; left: 0;"/>
        <button type="button" class="btn btn-primary" id="add2cart" style="position: absolute; right: 0;" (click)="add2cart()" >Add to cart</button>
      </div>
    </div>
</div>